






header
{
  background: white;
  height: 100%;

}

header ::after
{
  content: ' ';
  display: table;
  clear: both;
  text-decoration: none;
  position: fixed;

}

div
{
  max-width: 100%;


}


img
{
  image-rendering:auto;

}


body
{

  background: white;
  width: 100%;


}



p
{
  font-family: 'haylard-micro', sans-serif ;
  font-style: normal;
  word-break:keep-all;

}

.titleContainer
{
  display: flex;
  justify-content: center;


}

.container
{
  width: 100%;
  height: 100%;;
  background-color: white;
  text-align: center;
  text-decoration: none;
}

.menuContainer
{
  display: flex;
  justify-content: center;
}

.menuItem
{
  margin: auto 3.9%;
}




h1
{
  font-family: 'halyard-micro', sans-serif;
  font-size: 2.0em;
  font-weight: 500;
  padding-top: 50px;

}


h2,h3,h4,h5,h6
{
   font-family: 'halyard-micro', sans-serif;
}

nav
{
  background: white;


}




nav ul li
{
  font-family: 'halyard-micro', sans-serif;
  font-style: normal;
  font-weight: 300;
  padding-top: 0;
  display: flex;
  list-style: none;

}


ul
{
  list-style: none;

}


.homeImagesContainer
{
  display:flex;
  justify-content: space-around;
  height: auto;
  width: 100%;

  padding-top: 5%;
  padding-bottom: 5%;
}


.homeImage
{

  image-rendering: auto;
  background-color: black;
  border: 5px solid black;
}




.jaja
{
  display: flex;
  justify-content: center;
  text-align: center;
}


.homeheader2
{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  font-weight: 900;
  letter-spacing: .2px;
  text-align: center;
  margin-bottom: 0;

}


.homeparagraph
{

  font-family: 'halyard-micro', sans-serif;
  font-style: oblique;
  font-size: 0.9em;
  color: black;
  text-align: center;
  display:flex;
  justify-content: center;
  width: 20%;
}



.EssayHOMEContainer
{
  display: flex;
  justify-content: center;
  margin-bottom: 0;

}


.footerparagraph
{
  font-family: 'halyard-micro', sans-serif;
  font-style: bold;
  font-size: 10px;
  font-weight: 500;
}

.footeremail
{
  text-decoration: none;
  font-size: 10px;
  font-family: 'haylard-micro', sans-serif;
  font-weight: 700;
}

.instagramContainer
{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: black;


}


.instaCenter
{


}

.allRightsContainer
{
  display: flex;
  justify-content: center;

}



.WorkMenu
{
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 7%;

}


.workphoto
{
  padding: 2px;
}



.videophoto
{
  padding: 2px;
  letter-spacing: 1px;
}

.btsPhoto
{


  padding: 2px;
  letter-spacing: 1px;


}


.WorkMenu .btsPhoto
{
opacity:0.5;
transition: .5s ease;


}

.WorkMenu .btsPhoto:hover
{
opacity:1;
transition: .5s ease;
background-color: rgba(0, 0, 0, 0.5);
}



.WorkMenu .videophoto
{
opacity:0.5;
transition: .5s ease;
}

.WorkMenu .videophoto:hover
{
opacity:1;
transition: .5s ease;
background-color: rgba(0, 100, 200, 0.5);
}



.WorkMenu .workphoto
{
opacity:0.5;
transition: .5s ease;
}

.WorkMenu .workphoto:hover
{
opacity:1;
transition: .5s ease;
background-color: rgba(142, 68, 173, 0.5);
}





.btsSpan
{


  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;

  letter-spacing: 10px;
  color: white;


  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 position: absolute;

  text-align: center;

}





.videoSpan
{

  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;

  letter-spacing: 5px;
  color:white;

  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 position: absolute;

  text-align: center;

}

.photoSpan
{


  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 25px;

  letter-spacing: 5px;
  color:white;

  top: 50%;
  left: 50%;

  -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 position: absolute;

  text-align: center;





}


.WorkMenu .PhotoSelect.photoSpan:hover
{ background-color: black;

}


span
{
   position: absolute;
   padding: 10px;
   bottom: -70px;
   box-sizing: border-box;
   background-color: rgba(0,0,0,0.5)
   color: #fff;
   margin: -160px;
   margin-left: -180px;

   min-width: 25%;

}


.photoCont
{
  height: 100%;
  width: 20%;
  margin: auto .2%;
  position: relative;

}


.PhotoSelect
{

}

.VideoSelect
{


}

.BtsSelect
{


}




.VIDEO-CONTAINER
{
  width: 100%;
  height: 100%;
}





.pgalleryheader
{
  font-size: 20px;
}

.pgalleryimages
{
  object-fit: cover;
  border: solid black 5px;
  image-rendering: auto;
  image-rendering: crisp-edges;

}


.pgalleryimages2
{
    border: solid black 5px;


}

.pgalleryimages3
{
    border: solid black 5px;
}


.smoovel1bts
{
  image-orientation:
}

.aboutimage
{

  display: flex;
  justify-content: center;

  border: solid black 5px;




}

.aboutHeader
{
  text-align: center;


}

.aboutBio
{
  display: flex;
  font-family: 'haylard-micro', sans-serif ;
  font-style: normal;
  font-weight: 300;
  font-size: 1.5vw;
  letter-spacing: 2%;
  position: relative;
  word-wrap: normal;
  word-break: keep-all;
  width: 40%;


}

.aboutCONTAIN
{

}

.dashaboutContainer
{

}


.simo1
{
  -webkit-transform:rotate(180deg);
}



.SMOOVELMOVIE
{
  border: 5px solid black;
  object-fit: cover;
}

.SMOOVELMOVIE2
{
  border: 5px solid black;
  object-fit: cover;
}
.YOUNGMAMOVIE
{
  border: 5px solid black;
  object-fit: cover;
}

.JIPRINCEMOVIE
{
  border: 5px solid black;
  object-fit: cover;
  
}

.fivioXXL
{
  object-fit: cover;
  border: solid black 5px;
}



.MESSIAHMOVIE
{
  border: 5px solid black;
  object-fit: cover;
}



.Simobts
{


  object-fit: cover;
  border: solid black 5px;
  image-rendering: auto;
  image-rendering: crisp-edges;


}

.Youngmabts
{
  object-fit: cover;
  border: solid black 5px;
  image-rendering: auto;


}






input[type=text], select, textarea {


  border: 1px solid #ccc;
  border-radius: 2%;
  box-sizing: border-box;




}

input[type=submit] {
  background-color: #5DADE2;
  color: white;

  border: none;
  border-radius: 4px;

}

.contact-me{
    display: flex;
    justify-content: center;
    align-items: center;

}


label{
    display: block;
    margin: 4%;
    padding: 10%;


}

.email
{
  width: 100%;

}

.subject
{
  min-width: 100%;

}

.message
{
  width: 100%;
}



button{
    background-color: rgb(0, 0, 0);
    border: none;
    width:100%;
    height:auto;
    color: white;
    padding: 2% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 1.7vw;
    cursor: pointer;
}

button:hover
{
  background-color: rgb(255,255,255);
  color: rgb(0,0,0);
}

.formContainer
{

  display: flex;
  align-items: center;
  justify-content: center;
}

.contactFooter
{
  display: flex;
  position: fixed;
  bottom: 0;
  height: 2%;

}

.rightsReserved
{
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
}







a:visited
{
  text-decoration: none;
  color: black;
}

a:link
{
  text-decoration: none;

}


a:hover
{
  text-decoration: none;

}

a:active
{
  text-decoration: none;
}

a:before
{
  text-decoration: none;

}

nav a
{
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}


nav a:hover
{
  color: #00000;
  font-size: 17px;
  font-weight: bold;
  transition: all ease-in-out 200ms;
  transition-delay: 50ms;


}

nav a::before
{
  content: '';
  display:block;

  height: 10px;
  width: 5px;

  position:absolute;

  top:0;
  width:0%;

  transition: all ease-in-out 200ms;
  transition-delay: 50ms;
}

.current
{
  font-weight: bold;
}



  @media screen and (max-width: 600px)
{
  
    nav ul li
  {
    font-family: 'halyard-micro', sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 0;
    display: block;
    text-align: center;
    list-style: none;
    

  }
  
  
  
  .menuItem
  {
    
    margin:auto 2.5%
    
    
  }


  .homeimage
  {
    image-rendering: auto;
    background-color: black;
    border: 2px solid black;
    width: 10%;
    

  }

  .homeImagesContainer
  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  
  
  .homeparagraph
  {

    font-family: 'halyard-micro', sans-serif;
    font-style: oblique;
    font-size: 0.9em;
    color: black;
    text-align: center;
    display:flex;
    justify-content: center;
    width: 50%;
  }
  
  
  
.VIDEO-CONTAINER
{
  width: 100%;
  height: 50%;
}


.fivioXXL
{
  object-fit: cover;
  border: solid black 5px;
  width: 200px;
}





.JIPRINCEMOVIE
{
  object-fit: cover;
  border: solid black 5px;
  width: 200px;
}
  
  
  
  
  .aboutimage
  {

    display: flex;
    justify-content: center;
    border: solid black 5px;
    width: 300px;
    

  }


  .aboutBio
  {
    display: flex;
    font-family: 'haylard-micro', sans-serif ;
    font-style: normal;
    font-weight: 300;
    font-size: 2.7vw;
    letter-spacing: 2%;
    position: relative;
    word-wrap: normal;
    word-break: keep-all;
    width: 70%;
  }

}



